.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #dee761;
}

table {
  color: rgb(255, 248, 248);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #20b9a5;
}

.header-row {
    background: rgb(70, 87, 104);
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}